extends layout

block content
  h1 Cars


  h2 Create Car
  form(action="/cars/create" method="POST")
    label Name:
      input(type="text" name="$name")
    br
    button(type="submit") Create Car


  hr

  form(action="/cars" method="GET")
    input(type="text" placeholder="Search" name="carName" value=carName)
    button(type="submit") Search

  ul
    each c in cars
      li
        span=c.carName + " By " + c.makerName


