extends layout

block content
  h1 Welcome
  p Welcome to #{title}!
  form(action="/movies")
    input(type="submit" value="click me to see all movies!")
  br
  form(action="/people")
    input(type="submit" value="click me to see all people!")