extends layout

block content
  h1 People

  form(action="/")
    input(type="submit" value="click me to go back!")

  h2 Create Person
  form(action="/people/create" method="POST")
    label First Name: 
      input(type="text" name="first_name")
    br
    label Last Name: 
      input(type="text" name="last_name")
    br
    label Age: 
      input(type="number" name="age")
    br
    button(type="submit") Create Person

  hr

  form(action="/people" method="GET")
    input(type="text" placeholder="First name starts with" name="first_name" value=first_name)
    br
    input(type="text" placeholder="Last name starts with" name="last_name" value=last_name)
    br
    button(type="submit") Search

  ul
    each p in people
      li
        p #{p.first_name} #{p.last_name}